.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outline{
  border-color: black;
  border-radius: 2px;
}

.h-scroll {
    position: static;
    overflow-y: scroll;
}

.man-h-85{
  height: 85vh;
}
.man-h-68{
  height: 68vh;
}

.test{ position: sticky; top: 0; }


.b-width {
  border-width:2px !important;
}

.clickable { cursor: pointer; }
